@import './styles.css';

.header {
  min-height: initial;
}
.header-container {
  position: relative;
  overflow: hidden;
}

.content {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  margin: 12rem 0;
}

.main-heading {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 10rem;
}

.desc {
  position: relative;
  z-index: 1;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 600;
}

.desc::before {
  background-color: var(--light-coral);
}

.desc::before {
  content: '';
  display: block;
  width: 5rem;
  height: 0.4rem;
  margin-bottom: 4rem;
}

.pattern-home-2 {
  position: absolute;
  right: -10rem;
  bottom: 0;
  z-index: 0;
}

.main-content-container {
  position: relative;
  background-color: var(--deep-jungle-green);
  overflow: hidden;
}

.bg-pattern-2 {
  position: absolute;
  top: 0;
  left: -10rem;
}

.directors-info {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10rem 2.4rem 14rem;
}

.directors-info .heading-2 {
  margin-bottom: 6.4rem;
  text-align: center;
}

.cards {
  display: grid;
  row-gap: 7.6rem;
  column-gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 35rem));
  justify-content: center;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 25rem;
  min-width: 22.5rem;
}

.card-btn img {
  pointer-events: none;
}

.card button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -2.8rem;
  cursor: pointer;
  width: 5.6rem;
  height: 5.6rem;
  background-color: var(--light-coral);
  border: none;
  border-radius: 50%;
  transition: all 0.3s;
}

.card button.opened {
  background-color: var(--rapture-blue);
}

.card button.opened:hover {
  background-color: var(--light-coral);
}

.card figcaption {
  text-align: center;
}

.card button:hover {
  transition: all 0.3s;
  background-color: var(--rapture-blue);
}

.card figure img {
  border: 0.2rem solid #c4fffe;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.bg-pattern-3 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.clients-container {
  position: relative;
  background-color: var(--sacramento-state-green);
}

.clients-content {
  position: relative;
  z-index: 1;
  padding: 14rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
}

.clients-content .heading-2 {
  text-align: center;
}

.pattern-four {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.clients {
  display: flex;
  align-items: center;
  gap: 9rem;
}

.clients img {
  height: 2.8rem;
}

.clients .gadgets-now {
  height: 4.5rem;
}

.clients .jakarta-post {
  height: 2.3rem;
}

.back-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotateY(180deg);
  background-color: var(--dark-green);
}

.card-quote {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.card-holder {
  background-color: transparent;
  perspective: 1000px;
  width: 100%;
  height: 100%;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* transform: rotateY(180deg); */
}

.card-front {
  background-color: var(--sacramento-state-green);
}

.card-inner .heading-3 {
  margin-top: 0;
}

.socials .header-link:first-child {
  margin-right: 1.7rem;
}

.socials .header-link {
  display: inline;
}

.card-front,
.back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 3.2rem 4.8rem;
}

@media only screen and (max-width: 1200px) {
  .content {
    flex-direction: column;
    text-align: center;
    gap: 0;
    max-width: 50rem;
    margin: 8rem auto 12rem;
  }
  .desc {
    font-size: 1.5rem;
  }
  .desc::before {
    display: none;
  }
}

@media only screen and (max-width: 1180px) {
  .directors-info > .heading-2 {
    font-size: 4.8rem;
  }

  .clients {
    gap: 6rem;
  }

  .clients img {
    height: 1.7rem;
  }

  .clients .gadgets-now {
    height: 2.8rem;
  }

  .clients .jakarta-post {
    height: 1.4rem;
  }

  .pattern-four {
    top: -10rem;
  }

  .clients-container {
    overflow: hidden;
  }

  .clients-content {
    padding: 8rem 0;
  }
}

@media only screen and (max-width: 780px) {
  .pattern-four {
    left: -10rem;
  }

  .clients {
    flex-direction: column;
  }
}

@media only screen and (max-width: 700px) {
  .main-heading {
    font-size: 4rem;
    line-height: normal;
    margin-bottom: 1rem;
  }

  .pattern-home-2 {
    bottom: -10rem;
  }

  .content {
    padding: 0 2.4rem;
  }

  .directors-info > .heading-2 {
    font-size: 3.2rem;
  }
}

@media only screen and (max-width: 560px) {
  .bg-pattern-2 {
    top: -10rem;
  }
}

@media only screen and (max-width: 350px) {
  .card-front,
  .back-card {
    padding: 3.2rem 1.8rem;
  }
}
