@import './styles.css';

.header {
  min-height: initial;
}
.header-container {
  position: relative;
  overflow: hidden;
}

.content {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  margin: 12rem 0;
}

.main-heading {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 10rem;
}

.desc {
  position: relative;
  z-index: 1;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 600;
}

.desc::before {
  background-color: var(--light-coral);
}

.desc::before {
  content: '';
  display: block;
  width: 5rem;
  height: 0.4rem;
  margin-bottom: 4rem;
}

.pattern-home-2 {
  position: absolute;
  right: -10rem;
  bottom: 0;
  z-index: 0;
}

.main-content-container {
  position: relative;
  background-color: var(--deep-jungle-green);
  overflow: hidden;
}

.bg-pattern-2 {
  position: absolute;
  top: 0;
  left: -10rem;
}

.directors-info {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10rem 2.4rem 14rem;
}

.directors-info .heading-2 {
  margin-bottom: 6.4rem;
  text-align: center;
}

.cards {
  display: grid;
  row-gap: 7.6rem;
  column-gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 35rem));
  justify-content: center;
}

.card {
  position: relative;
  background-color: var(--sacramento-state-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.2rem 2.4rem 5.6rem;
}

.card button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -2.8rem;
  cursor: pointer;
  width: 5.6rem;
  height: 5.6rem;
  background-color: var(--light-coral);
  border: none;
  border-radius: 50%;
  transition: all 0.3s;
}

.card figcaption {
  text-align: center;
}

.card button:hover {
  transition: all 0.3s;
  background-color: var(--rapture-blue);
}

.card figure img {
  border: 0.2rem solid #c4fffe;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.bg-pattern-3 {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media only screen and (max-width: 1200px) {
  .content {
    flex-direction: column;
    text-align: center;
    gap: 0;
    max-width: 50rem;
    margin: 8rem auto 12rem;
  }
  .desc {
    font-size: 1.5rem;
  }
  .desc::before {
    display: none;
  }
}

@media only screen and (max-width: 1180px) {
  .directors-info > .heading-2 {
    font-size: 4.8rem;
  }
}

@media only screen and (max-width: 700px) {
  .main-heading {
    font-size: 4rem;
    line-height: normal;
    margin-bottom: 1rem;
  }

  .pattern-home-2 {
    bottom: -10rem;
  }

  .content {
    padding: 0 2.4rem;
  }

  .directors-info > .heading-2 {
    font-size: 3.2rem;
  }
}

@media only screen and (max-width: 560px) {
  .bg-pattern-2 {
    top: -10rem;
  }
}
