@import './styles.css';

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.main-heading {
  font-size: 10rem;
  font-weight: 700;
  line-height: 10rem;
}

.talent {
  color: var(--light-coral);
}

.desc {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 600;
  max-width: 45rem;
}

.desc::before {
  background-color: var(--rapture-blue);
}

.desc::before,
.teams-group .heading-2::before {
  content: '';
  display: block;
  width: 5rem;
  height: 0.4rem;
  margin-bottom: 8rem;
}

.teams-group .heading-2::before {
  background-color: var(--light-coral);
}

.pattern-home-1 {
  position: absolute;
  top: 0;
  left: -27rem;
}

.pattern-home-2 {
  display: block;
  margin-left: auto;
  width: 100%;
  max-width: 35.8rem;
}

.teams-info {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 16.5rem;
}

.main-content-container {
  background-color: var(--sacramento-state-green);
  min-height: 100vh;
  overflow: hidden;
}

.heading-2 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 4.8rem;
}

.teams-data > figure {
  display: flex;
  align-items: flex-start;
  gap: 2.3rem;
  margin-bottom: 3.2rem;
}

.teams-data h3 {
  font-size: 1.8rem;
  color: var(--light-coral);
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.teams-data p {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.5rem;
  opacity: 0.8;
}

.pattern-home-3 {
  position: absolute;
  right: -10rem;
  bottom: 0;
}

.teams-group {
  display: flex;
  gap: 4.5rem;
}

.quotes {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.quotes > img:first-child {
  align-self: flex-start;
}

.quotes > img:last-child {
  align-self: flex-end;
}

.quotes-group {
  display: grid;
  grid-template-areas: 'header header header' 'figure1 figure2 figure3';
  grid-gap: 3rem;
  grid-row-gap: 9.2rem;
  max-width: 111rem;
  text-align: center;
  margin: 0 9.7rem;
}

.quotes-group .heading-2 {
  grid-area: header;
}

.quotes-group figcaption {
  position: relative;
}

.icon-quote {
  position: absolute;
  z-index: 0;
  top: -3.7rem;
  left: 50%;
  transform: translateX(-50%);
}

.figure1 {
  grid-area: figure1;
}

.figure2 {
  grid-area: figure2;
}

.figure3 {
  grid-area: figure3;
}

.success-stories {
  color: var(--rapture-blue);
}

.quote {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.5rem;
  position: relative;
  z-index: 1;
}

.heading-3 {
  color: var(--rapture-blue);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.8rem;
  margin-top: 2.4rem;
}

.job-position {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 500;
  line-height: 1.8rem;
}

.quotes-group figure > img {
  border-radius: 50%;
  border: 0.2rem solid #c4fffe;
  margin-top: 3.2rem;
}

@media only screen and (max-width: 1180px) {
  .pattern-home-3 {
    top: 0;
  }

  .teams-group {
    flex-direction: column;
  }

  .heading-2 {
    font-size: 3.2rem;
  }

  .teams-group .heading-2::before {
    margin-bottom: 3.2rem;
  }
}

@media only screen and (max-width: 1000px) {
  .desc {
    font-size: 1.5rem;
  }

  .pattern-home-2 {
    margin: 0 auto;
  }

  .desc::before {
    display: none;
  }

  .content {
    flex-direction: column;
    text-align: center;
  }

  .main-heading {
    font-size: 6.4rem;
    line-height: inherit;
  }

  .pattern-home-1 {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .teams-info {
    padding: 4rem 9.5rem;
  }
}

@media only screen and (max-width: 640px) {
  .teams-group .heading-2 {
    max-width: 23rem;
  }
  .teams-info {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    justify-content: center;
  }

  .teams-data > figure {
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 40rem;
    margin: 4rem auto;
  }
}

@media only screen and (max-width: 450px) {
  .main-heading {
    font-size: 4rem;
  }

  .desc {
    font-size: 1.5rem;
  }

  .content {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}
