@import './reset.css';

:root {
  --midnight-green: #014e56;
  --light-coral: #f67e7e;
  --white: #fff;
  --rapture-blue: #79c8c7;
  --police-blue: #2c6269;
  --deep-jungle-green: #004047;
  --sacramento-state-green: #012f34;
  --dark-green: #002529;
}

body {
  background-color: var(--midnight-green);
  color: var(--white);
}

.header-container,
.teams-info,
.quotes-container,
.contact-us-content {
  max-width: 144rem;
  margin: 0 auto;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  font-size: 1.8rem;
  margin-top: 5rem;
}

.link {
  color: var(--white);
  text-decoration: none;
  transition: all 0.3s;
}

.link:hover {
  color: var(--light-coral);
  transition: all 0.3s;
}

.nav-bar .contact-us {
  margin-left: auto;
}

.contact-us {
  text-decoration: none;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 2.4rem;
  padding: 0.5em 1.5em;
  transition: all 0.3s;
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.contact-us:hover {
  background-color: var(--white);
  color: var(--midnight-green);
  transition: all 0.3s;
}

.contact-us-content .contact-us {
  color: var(--sacramento-state-green);
  border: 2px solid var(--sacramento-state-green);
  position: relative;
  z-index: 1;
}

.contact-us-content .contact-us:hover {
  background-color: var(--sacramento-state-green);
  color: var(--white);
}

.header {
  position: relative;
  padding: 0 16.5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
}

.header-link {
  display: block;
}

.logo {
  height: 4rem;
}

.hamburger {
  display: none;
}

.hamburger,
.closeBtn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.closeBtn > img {
  width: 1.8rem;
  height: 1.8rem;
}

.menu-backdrop {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  transition: all 0.2s;
}

.menu {
  position: absolute;
  right: 0;
  transition: all 0.2s;
  background-color: var(--police-blue);
  max-width: 0px;
  height: 100%;
  list-style: none;
  cursor: default;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu ul {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 0 5rem;
  font-size: 1.8rem;
  margin: 5.5rem 0;
}

.menu ul li:first-child {
  align-self: flex-end;
}

.menu-bg-pattern {
  transform: translateX(50%);
}

.showMenu {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.4);
}

.showMenu .menu {
  max-width: 100%;
}

.contact-us-container {
  background-color: var(--light-coral);
  color: var(--sacramento-state-green);
  overflow: hidden;
}

.contact-us-content {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 7.6rem 0;
}

.pattern-contact-us {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}

@media only screen and (max-width: 1300px) {
  .pattern-contact-us {
    bottom: -1.5rem;
  }
}

@media only screen and (max-width: 1200px) {
  .header {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media only screen and (max-width: 710px) {
  .contact-us-content {
    flex-direction: column;
    align-items: center;
  }

  .contact-us-content .heading-2 {
    max-width: 30rem;
    text-align: center;
    line-height: 3.5rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 450px) {
  .header {
    padding: 0;
  }

  .nav-bar {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  .pattern-contact-us {
    bottom: -2.5rem;
  }
}

@media only screen and (max-width: 640px) {
  .hamburger {
    display: block;
  }

  .logo {
    height: 3.2rem;
  }

  .nav-bar .header-link {
    display: none;
  }
}
